<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Lista de Agendamentos</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header class="header">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Petshop</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" th:href="@{/dashboard}">Home</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/agendamentos/cadastrar}">Cadastrar</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/agendamentos/listar}">Listar</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> Sair</a></li>
			</ul>
		</div>
	</nav>
</header>
<div class="container-fluid mt-4">
	<a class="nav-link" th:href="@{/agendamentos/cadastrar}"> <i class="oi oi-plus"></i> <span>Add Agendamento</span></a>
	<table class="table table-bordered table-responsive-sm">
		<thead>
		<tr>
			<th>ID</th>
			<th>Data</th>
			<th>Cliente</th>
			<th>Pet</th>
			<th>Serviço</th>
			<th>Ações</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="agendamento : ${agendamentos}">
			<td th:text="${agendamento.id}"></td>
			<td th:text="${agendamento.dataHora}"></td>
			<td th:text="${agendamento.cliente.nome}"></td>
			<td th:text="${agendamento.pet.nome}"></td>
			<td th:text="${agendamento.servico.nome}"></td>
			<td>
				<a th:href="@{/agendamentos/editar/{id}(id=${agendamento.id})}" class="btn btn-warning btn-sm">Editar</a>
				<a th:href="@{/agendamentos/excluir/{id}(id=${agendamento.id})}" class="btn btn-danger btn-sm">Deletar</a>
			</td>
		</tr>
		</tbody>
	</table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

