<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Lista</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<header class="header">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Petshop</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" th:href="@{/dashboard}"><i class="fa-solid fa-clipboard"></i> Dashboard</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> Sair</a></li>
			</ul>
		</div>
	</nav>
</header>
<div class="container mt-5">
	<h1 class="mb-4">Pesquisa de Satisfação do Cliente</h1>

	<!-- Formulário de busca
	<form th:action="@{/satisfacao/listar}" method="get" class="mb-3">
		<div class="input-group">
			<input type="text" class="form-control" name="nome" placeholder="Buscar por nome" aria-label="Buscar por nome">
			<div class="input-group-append">
				<button class="btn btn-primary" type="submit"><i class="fas fa-search"></i> Buscar</button>
			</div>
		</div>
	</form> -->

	<div class="table-responsive">
		<table class="table table-bordered">
			<thead>
			<tr>
				<th>Nome</th>
				<th>Email</th>
				<th>Avaliação</th>
				<th>Comentários</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="s : ${satisfacao}">
				<td th:text="${s.nome}"></td>
				<td th:text="${s.email}"></td>
				<td th:text="${s.avaliacao}"></td>
				<td th:text="${s.comentarios}"></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


